<app-form *ngIf="isEdit" [isEdit]="true" [formData]="formData" (dataForm)="onDataForm()"></app-form>
<h2>Liste des étudiants</h2>

<!-- Display Table and Manage Actions -->
<table>
  <thead>
  <tr>
    <th>Prenom</th>
    <th>Nom</th>
    <th>Age</th>
    <th>Classe</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let etudiant of etudiants">
    <td>{{ etudiant.prenom }}</td>
    <td>{{ etudiant.nom }}</td>
    <td>{{ etudiant.age }}</td>
    <td>{{ etudiant.classe }}</td>
    <td>
      <!-- Show Modifier button only when not editing -->
      <button class="modifier" *ngIf="!isEdit" (click)="editEtudiant(etudiant)">Modifier</button>
      <!-- Show Supprimer button -->
      <button class="supprimer">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>


