<app-form *ngIf="isEdit" [isEdit]="true" [formData]="formData" (dataForm)="onDataForm()"></app-form>
<h2>Liste des étudiants</h2>

<table>
  <thead>
  <tr>
    <th>Prenom</th>
    <th>Nom</th>
    <th>Age</th>
    <th>Classe</th><!-- sdjdsdsd!-->
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let etudiant of etudiants">
    <td>{{ etudiant.prenom }}</td>
    <td>{{ etudiant.nom }}</td>
    <td>{{ etudiant.age }}</td>
    <td>{{ etudiant.classe }}</td>
    <td>
      <button class="modifier" *ngIf="!isEdit" (click)="editEtudiant(etudiant)">Modifier</button>
      <button class="supprimer" (click)="deleteEtudiant(etudiant.id)">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>


