<div class="form-container">
  <h2>{{ isEdit ? 'Modifier Étudiant' : 'Ajouter Étudiant' }}</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input id="prenom" [(ngModel)]="formData.prenom" name="prenom" type="text" required />
    </div>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input id="nom" [(ngModel)]="formData.nom" name="nom" type="text" required />
    </div>
    <div  class="form-group">
      <label for="age">Âge</label>
      <input id="age" [(ngModel)]="formData.age" name="age" type="number" pattern="^[0-9]+$" required />
    </div>
    <div class="form-group">
      <label for="classe">Classe</label>
      <input id="classe" [(ngModel)]="formData.classe" name="classe" type="text" required />
    </div>
    <button class="btn-submit" type="submit">
      {{ isEdit ? 'Mettre à Jour' : 'Ajouter' }}
    </button>
  </form>
</div>
